---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="pt-6 pb-12">
      <div class="mb-6 container mx-auto px-12 max-w-4xl">
        <h1 class="text-3xl font-bold text-primary">Posts</h1>
        <ul class="grid grid-flow-row auto-rows-[1fr] grid-row gap-6 mt-6">
          {
            posts.map((post) => (
              <li class="border border-neutral-400 rounded-lg">
                <div class="bg-white rounded-lg flex flex-col md:flex-row">
                  <div class="w-full md:w-[45%] h-full">
                    <Image
                      width={600}
                      height={360}
                      src={
                        post.data.image ? post.data.image : "/placeholder.png"
                      }
                      alt={post.data.title}
                      class="w-full md:h-[180px] rounded-t-lg object-cover md:rounded-l-lg md:rounded-none border-r border-neutral-400"
                    />
                  </div>
                  <div class="pl-4 py-2 pb-2 w-full">
                    <time
                      datetime={post.data.pubDate}
                      class="text-sm text-gray-700"
                    >
                      {new Date(post.data.pubDate).toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                    <a
                      href={"/blog/" + post.slug}
                      class="block text-xl font-bold mb-2 text-primary hover:underline"
                    >
                      {post.data.title}
                    </a>
                    <div class="flex gap-2 flex-wrap">
                      {post.data.tags &&
                        post.data.tags.map((tag: string) => (
                          <a
                            class="border border-neutral-700 uppercase text-sm text-neutral-700 hover:bg-neutral-100 px-2"
                            href={"/tag/" + tag}
                          >
                            {tag}
                          </a>
                        ))}
                    </div>
                    <p class="mt-2 text-neutral-700 w-full line-clamp-2">
                      {post.data.description}
                    </p>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
    <Footer />
  </body>
</html>
