---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="py-6 mb-6">
      <ul
        class="container mx-auto px-12 max-w-4xl grid grid-flow-row grid-row gap-6"
      >
        {
          posts.map((post) => (
            <li>
              <a
                href={post.url}
                class="flex gap-3 hover:underline border border-black hover:shadow-lg"
              >
                <img
                  src={
                    post.frontmatter.image
                      ? post.frontmatter.image
                      : "/placeholder.png"
                  }
                  alt=""
                  class="object-cover w-64"
                />
                <div class="p-2">
                  <time
                    datetime={post.frontmatter.pubDate}
                    class="text-sm text-gray-800"
                  >
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                  <h2 class="text-xl font-bold mb-2">
                    {post.frontmatter.title}
                  </h2>
                  <p class="mt-2">{post.frontmatter.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
