---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    image?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, image },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <section class="flex flex-col items-center p-6 max-w-4xl mx-auto">
        {image && <img class="h-64 mb-4 rounded-lg" src={image} alt="" />}
        <h1 class="text-2xl font-bold text-center text-primary">{title}</h1>
        {
          pubDate && (
            <time class="mt-2 text-center text-neutral-700">
              Last Updated: {pubDate}
            </time>
          )
        }
      </section>
      <article
        class="container mx-auto px-12 max-w-4xl prose prose-sm mb-6 prose-table:block prose-table:overflow-auto"
      >
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
