---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Balancer from "react-wrap-balancer";
import { Image } from "@astrojs/image/components";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    image?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, image },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body>
    <Header />
    <main class="pb-12">
      <section class="flex flex-col items-center p-6 max-w-4xl mx-auto">
        {
          image && (
            <div class="w-full md:w-[480px] md:h-[282px] flex justify-center">
              <Image
                src={image}
                alt={title}
                height={256}
                width={480}
                format="webp"
              />
            </div>
          )
        }
        <Balancer>
          <h1 class="text-2xl font-bold text-center text-primary">{title}</h1>
        </Balancer>
        {
          pubDate && (
            <time class="mt-2 text-center text-neutral-700">
              Last Updated: {pubDate}
            </time>
          )
        }
      </section>
      <article
        class="container mx-auto px-12 max-w-4xl prose prose-headings:before:content-['#'] mb-6 prose-table:block prose-table:overflow-auto"
      >
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
